{
  "parser": "babel-eslint",
  "extends": [
    "airbnb/base",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "no-console": 0,
    "import/extensions": [2, { "ignorePackages": true }],
  }
}
